.workingContainer {
    position:absolute;
    margin-left:40%;
    margin-top: 10%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background:transparent;
    max-width: 400px;
}

.workingContainer h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.workingContainer label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}


.workingContainer input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.workingContainer button {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.workingContainer button:hover {
    background-color: #0056b3;
}